.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}
.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.footer_logo img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.footer_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
    
}
.footer_links a:hover {
    color: #000;
}
.footer_links a:first-child {
    margin-left: 0;
}
.footer_links a:last-child {
    margin-right: 0;
}
.footer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
.footer_info  p {
    padding-right: 30px;
}


.footer_quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;

}

.footer_year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
@media (max-width: 500px) {

    .footer_quote {
        font-size: 0.8rem;
    }
    .footer_year {
        font-size: 0.8rem;
    }
    .footer_links a {
        font-size: 0.8rem;
        margin-left: 5px;
    }
    .footer_info  p {
        padding-right: 20px;
    }
}