
.placeholder{
    display:flex;
    height:256px;
    width:384px;
    justify-content:center;
    align-items: center;
    background-color: #222222cc;
    padding: 0px 0px;
    margin: 0px 0px;
    
}

.placeholderLoading {
    display:flex;
    height:256px;
    width:384px;
    justify-content:center;
    align-items: center;
    background-color: #222222cc;
    padding: 0px 0px;
    margin: 0px 0px;
}
.placeholderLoading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    color: #1d35575e;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }