.images {
    max-width: 384px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 766px) {
    .images {
        max-width: 800px;
    }
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

