.images {
    max-width: min(384px, 100vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .images {
        max-width: 768px;
    }
}

