.imageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 55px;
    border: none;
    border-radius: 5px;
    margin: 3px 3px;
    cursor: pointer;
}
.imageButtonLabel{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
    background-color: #000000cc;
    border-radius: 15px;
    padding: 2px 5px;
}