.imageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0px 0px;
    cursor: pointer;
    width: 150px;
    height: 60px;

}
.imageButtonLabel{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #fff;
    background-color: #000000cc;
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .imageButton{


    }
    .imageButtonLabel{
        font-size: 0.95rem;
    }
}