@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 250, 238;
  --background-end-rgb: 168, 218, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 24, 39;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
